
:root {
    --white: #FFFFFF;
    --black: #000000;
    --very-light-grey: #EAE8E8;
    --text-input-field: #F7F7F7;
    --hospital-yellow: #EBA904;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
  }
  body{
    font-family: 'Museo Sans';
  }
  *{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}
.header__add{
    background-color:  #EBA904;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
   
       
}
.header__add__text{
    text-align: center;
    color: white;
    font-size: 12px;
    font-family: Museo Sans;
}

  
  .menu{
      display: none;
  }
  .logo{
      width: 100px;
  }
  nav{
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 58px;
      padding: 0 24px;
      border-bottom: 1px solid var(--very-light-grey);
      
  }
  .navbar__logo{
    width: 188px;
    height: 23px;
   
  }

  .navbar-left ul,
  .navbar-right ul{
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;
      height: 60px;
  }
  .navbar-left{
      display: flex;
      margin-left: 12px;
  }
  .navbar-left ul{
      
      margin-left: 12px;
  }
  .navbar-left ul li a,
  .navbar-right ul li a{
      text-decoration: none;
      color: var(--black);
      border: 1px solid var(--white);
      border-radius: 8px;
      padding: 8px;
  }
  .navbar-left ul li a:hover,
  .navbar-right ul li a:hover{
     
      border: 1px solid var(--hospital-yellow);
      color: var(--hospital-yellow);
  }
  
  .navbar__right li img{
      position: relative;
      width: 31px;
      height: 25px;
  }
 

 

