@font-face {font-family: "Museo Sans 100"; 
    src: url("//db.onlinewebfonts.com/t/3b12f78c783e678acc1f0fefe8e46380.eot"); 
    src: url("//db.onlinewebfonts.com/t/3b12f78c783e678acc1f0fefe8e46380.eot?#iefix") 
    format("embedded-opentype"), url("//db.onlinewebfonts.com/t/3b12f78c783e678acc1f0fefe8e46380.woff2") 
    format("woff2"), url("//db.onlinewebfonts.com/t/3b12f78c783e678acc1f0fefe8e46380.woff") format("woff"),
     url("//db.onlinewebfonts.com/t/3b12f78c783e678acc1f0fefe8e46380.ttf") format("truetype"), 
     url("//db.onlinewebfonts.com/t/3b12f78c783e678acc1f0fefe8e46380.svg#Museo Sans 100") format("svg"); }
:root {
    --white: #FFFFFF;
    --black: #000000;
    --very-light-grey: #EAE8E8;
    --text-input-field: #F7F7F7;
    --hospital-yellow: #EBA904;
    
  }
 
 
  *{
      
    font-family: "Museo Sans 100";
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}
.header__add{
    background-color:  #EBA904;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
   
       
}
.header__add__text{
    text-align: center;
    color: white;
    font-size: 12px;
    font-family: Museo Sans;
}

  
  .menu{
      display: none;
  }
  .logo{
      width: 100px;
  }
  nav{
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 58px;
      padding: 0 24px;
      border-bottom: 1px solid var(--very-light-grey);
      
  }
  .navbar__logo{
    width: 188px;
    height: 23px;
   
  }

  .navbar-left ul,
  .navbar-right ul{
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;
      height: 60px;
  }
  .navbar-left{
      display: flex;
      margin-left: 12px;
  }
  .navbar-left ul{
      
      margin-left: 12px;
  }
  .navbar-left ul li a,
  .navbar-right ul li a{
      text-decoration: none;
      color: var(--black);
      border: 1px solid var(--white);
      border-radius: 8px;
      padding: 8px;
  }
  .navbar-left ul li a:hover,
  .navbar-right ul li a:hover{
     
      border: 1px solid var(--hospital-yellow);
      color: var(--hospital-yellow);
  }
  
  .navbar__right li img{
      position: relative;
      width: 31px;
      height: 25px;
  }
 

  //start-brand
  .brand__ekco{
    display: flex;
    height: 123px;
    align-items: center;
    justify-content: center;
  }
  .brand__ekco img{
     
       width: 129.17px; 
       height: 50px;
  }

  //start-banner

  .banner__ekco img{
    width: 100vw;
}

//start-recipe
.contain{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 200px;
    
}
.contain__img{
    width: 70px;
    height: 70px; 
    margin-left: 76px;
    margin-top: 40px;
    
}

.contain__description{
   margin-top: 90px;
   padding-left: 100px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   width: 350px;   
   height: 450px;
}
.contain__description h1{
    
    font-size: 48px;
}
.contain__description h3{
    
    font-size: 24px;
}
.contain__ingredients__title{
    margin-top: 30px;
    font-size: 14px;
    
    
}
.contain__ingredients__text{
    margin-top: 20px;
    font-size: 14px;
}


.contain__ingredients__ver{
    margin-top: 30px;
    font-size: 14px;
   
}

//landing--body

.landing__body{
    width: 100vw;
  
    
}

//the most sold


.carousel__Item{
    display: flex;
    flex-direction: column;

}
.carousel__Item__img{
    width: 300px;
    height: 300px;
    border:2px sol id #AAAAAA;
}
.carousel__item__title{
   color: #666666;

}
.carousel__item__text{
    color: #666666;
 
 }
 .carousel__item__view{
    color: #000000;
    text-align:center;
    margin-top: 10px;
   
    
 
 }
 
 .border__yellow{
     color: #EBA904;
     font-size: 20px;
 }


 //characters
.final{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 100px;
}
.final__characters{
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
    
}
.final__characters h1{
    margin-bottom: 10px;
}
.final__questions{
    padding-left: 40px;
    padding-right: 100px;
}
.final__questions p{
 margin-top:10px;
}

.final__character__rickandmorty{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;

}
.final__character__rickandmorty p{
    font-size: 18px;
}
.final__character__episodies{
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    
}
